extends layout
block content
    h1.text-center Create a new chat room
    form.form-horizontal(method="post")
        fieldset.form-group
            label(for="name", class="control-label col-sm-2") Chat name
            .col-sm-10
                input(class="form-control", type="text", placeholder="Chat name", name="name", required="required")
        fieldset.form-group
            .col-sm-offset-2.col-sm-2
                input(type="submit", class="btn btn-success", value="Create")
                a.btn.btn-default(href="/admin/rooms") Cancel