extends layout
block content
    h1 Chat Rooms:
    table.table.table-responsive.table-striped
        thead
            tr
                th ID
                th Name
        tbody
            each room in rooms
                tr
                    td= room.id
                    td= room.name

    a.btn.btn-primary(href="rooms/add") Add new chat room